.card-container {
    padding: 10px;
    padding-bottom: 20px;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1A1F2B;
    border-radius: 12px;
    box-shadow: 0 0 12px #00FFF7;
    margin: 30px 20px;
    transition: ease 0.5s;
}

.card-container:hover {
    box-shadow: 0 0 12px #00FFF7, 0 0 18px #00FFF7 ,0 0 24px #00FFF7;
    transition: ease 0.5s;
    background-color:#1A1F2B ;
    transform: scale(1.045);
}

.card-container img {
    height: 50%;
    width: 80%;
}

.card-container h2 {
    color: #E0E0E0;
    max-height: 15px;
}

.card-container h3 {
    color: #A0A0B0;
}

.card-container h4 {
    color: #A0A0B0;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    width: 70%;
    background-color: transparent;

}

.card-buttons button {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    transition: ease 0.3s;
}

.card-buttons button:hover {
    font-size: 25px;
    cursor: pointer;
    transition: ease 0.3s;
}