.home-container {
  height: 100%;
  width: 100%;
  background-color: #0B0F1A;
  padding: 0 ;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.movies-list {
  background: radial-gradient(
    circle at center,
    #1A1F2B 0%,
    #0B0F1A 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  margin: 0 #0B0F1A ;
  padding-top: 100px;
}

